@font-face {
    font-family: 'Free Pixel';
    src: url('../assets/fonts/FreePixel.ttf');
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    background-color: #000100;
    color: #FFF;
    font-size: 16px;
    overflow: hidden;
}

.body__animation-init {
    animation: rising-body-init 5s;
}

.body__animation-game {
    animation: rising 5s;
}

.body-game-background {
    background-color: transparent;
    background-image: url('../assets/images/galaxy-background.jpg');
    background-size: 100px;
    background-repeat: repeat;
}

.header {
    text-align: center;
    padding: 30px;
    margin-bottom: 130px;
}

.header__title {
    padding: 10px;
    font-size: 7rem;
    font-weight: 700;
}

.header__info {
    font-size: 2rem;
    margin-bottom: 10px;
}

.header__info-commands {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 500;
    text-shadow: -1px -1px 0 #01FF70, 
                  1px -1px 0 #01FF70,
                 -1px  1px 0 #01FF70,
                  1px  1px 0 #01FF70;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__image {
    width: 400px;
    animation: spaceship 1.5s ease-in-out infinite;
}

.section__button {
    margin: 50px;
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #01FF70, 
                  1px -1px 0 #01FF70,
                 -1px  1px 0 #01FF70,
                  1px  1px 0 #01FF70;
}

.section__button:hover {
    animation: buttons 1s infinite;
    cursor: pointer;
}

.section__instructions-title {
    padding: 15px;
    font-size: 3rem;
    font-weight: 600;
}

.section__instructions-list {
    text-align: center;
}

.section__instructions-list__item {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.section__planet-nine {
    width: 200px;
}

.section__instructions-paragraph {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.section__good-luck {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.map-board {
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.maze-wall {
    height: 50px;
    width: 50px;
    background-color: #01FF70;
    border: 1px solid #01FF70;
}

.maze-space {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze-spaceship {
    height: 46px;
    width: 50px;
}

.maze-planet-nine {
    height: 44px;
    width: 50px;
}

.inside-spaceship-animation {
    animation: spaceship-arrive 5s;
}

.inside-spaceship-slideRight {
    animation-name: slideRight;
    animation-duration: 100ms;
}

.inside-spaceship-slideLeft {
    animation-name: slideLeft;
    animation-duration: 100ms;
}

.inside-spaceship-slideTop {
    animation: slideTop 100ms;
}

.inside-spaceship-slideDown {
    animation: slideDown 100ms;
}

.popup {
    width: 550px;
    
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #000100;
    font-weight: 900;
}

.popup__animation {
    animation: rising 5s;
}

.popup__title {
    font-size: 4rem;
    font-weight: 900;
    padding: 20px;
    color: #01FF70;
    text-shadow: -1px -1px 0 #000100, 
                  1px -1px 0 #000100,
                 -1px  1px 0 #000100,
                  1px  1px 0 #000100;
    animation: buttons 1s infinite;
}

.popup__paragraph {
    width: 400px;
    font-size: 1.5rem;
    margin: 10px;
}

.popup__img {
    width: 100px;
    margin: 20px;
}

.buttons-nest {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup__button {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #01FF70;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000100, 
                  1px -1px 0 #000100,
                 -1px  1px 0 #000100,
                  1px  1px 0 #000100;
}

.popup__button:hover {
    animation: buttons 1s infinite;
    cursor: pointer;
}

.popup__button--red {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #FF6347;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Free Pixel', Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000100, 
                  1px -1px 0 #000100,
                 -1px  1px 0 #000100,
                  1px  1px 0 #000100;
    
}

.popup__button--red:hover {
    animation: buttons 1s infinite;
    cursor: pointer;
}

.body__end {
    justify-content: center;
}

.popup__planetNine {
    z-index: -1;
    animation: planet9End 10s;
}

.spaceship-end-1 {
    position: absolute;
    width: 300px;
    height: 275px;
    animation: spaceshipEnd 8s;
}

@keyframes rising {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rising-body-init {
    0% {
        opacity: 0;
        background-color: #FFF;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spaceship {
    0% {
        transform: translateY(-10px);
    }

   50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes spaceship-launcher {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

@keyframes spaceship-arrive {
    0% {
        opacity: .5;
        transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideDown {
    0%{
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes buttons {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes planet9End {
    0% {
        height: 0;
        width: 0;
    }

    100% {
        height: 443px;
        width: 500px;
    }
}

@keyframes spaceshipEnd {
    0% {
        transform: translateY(600px);
    }

    100% {
        transform: translateY(0);
        width: 0;
        height: 0;
    }
}



